<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/gnb :: gnb"></div>
<div class="container">
		<main>
			<div class="row g-5">
				<div class="col-12">
					<div class="text-center">
						<h2 class="mt-5 mb-3">게시물 등록</h2>
					</div>
					<form id="frm_save_post" data-validation-alert="no">
						<input type="hidden" name="return_url" value="../post/list"/>
						<div class="row">
							<div class="col-12">
								<div class="form-label">게시판</div>
								<div id="">
									<div class="bg-gray-light rounded-3 my-3 py-3">
										<div class="row">
											<div class="col-6 col-lg-3" th:each="result: ${output.bbs_list}">
												<div class="me-2 px-3 py-2 my-2 bg-secondary rounded-3 d-flex justify-content-between align-items-center">
													<label class="crop-text-1 text-white" th:for="'bbs_' + ${result.seq}" th:text="${result.bbs_name}"></label>
													<input type="radio"
														   class="form-check-input"
														   th:id="'bbs_' + ${result.seq}"
														   name="bbs_seq"
														   th:value="${result.seq}"
														   autocomplete="off">

												</div>
											</div>
										</div>

									</div>
									<div class="invalid-feedback">
										게시판을 선택하세요
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-12 mb-3">
								<label for="subject" class="form-label">제목</label>
								<input type="text"
									   value=""
									   class="form-control h-validation"
									   id="subject"
									   name="subject"
									   data-validation="not-empty"
									   placeholder="제목을 입력하세요">
								<small class="invalid-feedback">
									제목을 입력하세요
								</small>
							</div>
							<div class="row" th:if="${!output.user.auth_flg}">
								<div class="col-12 col-lg-6 mb-3">
									<label for="email" class="form-label">이메일</label>
									<input type="text"
										   value=""
										   class="form-control h-validation"
										   id="email" name="email"
										   data-validation="email"
										   data-validation-type="replace"
										   data-invalid-message="올바른 이메일을 입력하세요"
										   placeholder="이메일을 입력하세요">
								</div>
								<div class="col-12 col-lg-6 mb-3">
									<label for="cell_phone" class="form-label">휴대폰 번호</label>
									<input type="text"
										   value=""
										   class="form-control"
										   id="cell_phone" name="cell_phone"
										   data-validation="phone"
										   data-validation-type="replace"
										   data-invalid-message="올바른 휴대폰 번호를 입력하세요"
										   placeholder="휴대폰 번호를 입력하세요">
								</div>
								<div class="col-12 col-lg-6 mb-3">
									<label for="reg_name" class="form-label">이름</label>
									<input type="text"
										   value=""
										   class="form-control h-validation"
										   id="reg_name" name="reg_name"
										   data-validation="not-empty"
										   placeholder="이름을 입력하세요">
								</div>
								<div class="col-12 col-lg-6 mb-3">
									<label for="password" class="form-label">비밀번호</label>
									<input type="password"
										   value=""
										   class="form-control"
										   id="password" name="password"
										   data-validation="password-4-8"
										   data-invalid-message="올바른 비밀번호를 입력하세요"
										   placeholder="숫자,영문 대 소문자 및 특수문자를 포함한 4-8글자">
								</div>
							</div>
							<div class="col-12 col-lg-12 mb-3" style="overflow: auto;">
								<div for="content" class="form-label">내용</div>
								<div data-editor="content_1" class="h-post-content" style="height:400px;"></div>
								<input type="hidden" id="content_1" name="content[]" data-validation="not-empty" value=""/>
								<small class="invalid-feedback">
									내용을 입력하세요
								</small>
								<div class="my-4 text-center mb-5">
									<button type="submit" class="mx-1 btn btn-dark px-4">저장</button>
									<a href="./list" class="h-btn-cancel-save mx-1 btn btn-dark px-4">취소</a>
								</div>
							</div>
							<div class="col-12 col-lg-12 text-center mb-5">

							</div>
						</div>
					</form>
				</div>
			</div>
		</main>
	</div>
<div th:replace="fragments/bottom :: bottom"></div>
<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
</body>
</html>